{% extends "layout.html" %}
{% block content %}
<div class="card-deck">
<div class="card text-white bg-info mb-3" style="max-width: 18rem;">
<div class="card-body">
<h5 class="card-title">Washinton laundries</h5>
<H5><p class="card-text">upto 5 Kg </p></H5>
    <H5><p class="card-text">Rate : 200 Rs</p></H5>
	<a href="generatebill" class="btn btn-primary">Continue</a>		
	</div>
</div>

<div class="card text-white bg-success mb-3" style="max-width: 18rem;">
<div class="card-body">
<h5 class="card-title">Washinton laundries</h5>
<H5><p class="card-text">6 Kg </p></H5>
    <H5><p class="card-text">Rate : 200 Rs</p></H5>
    <a href="generatebill" class="btn btn-primary">Continue</a>
</div>
</div>

<div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Washinton laundries</h5>
    <H5><p class="card-text">7 Kg </p></H5>
    <H5><p class="card-text">Rate : 200 Rs</p></H5>
    <a href="generatebill" class="btn btn-primary">Continue</a>	
  </div>
</div>

<div class="card text-white bg-warning mb-3" style="max-width: 18rem;">
<div class="card-body">
<h5 class="card-title">Washinton laundries</h5>
<H5><p class="card-text">8 Kg </p></H5>
    <H5><p class="card-text">Rate : 200 Rs</p></H5>
    <a href="generatebill" class="btn btn-primary">Continue</a>	
</div>
</div>
</div>

<div class="card-deck">
<div class="card text-white bg-warning mb-3" style="max-width: 18rem;">
<div class="card-body">
<h5 class="card-title">Washinton laundries</h5>
<H5><p class="card-text">9 Kg </p></H5>
    <H5><p class="card-text">Rate : 200 Rs</p></H5>
    <a href="generatebill" class="btn btn-primary">Continue</a>	
</div>
</div>

<div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
<div class="card-body">
<h5 class="card-title">Washinton laundries</h5>
<H5><p class="card-text">10 Kg </p></H5>
    <H5><p class="card-text">Rate : 200 Rs</p></H5>
    <a href="generatebill" class="btn btn-primary">Continue</a>	
</div>
</div>


<div class="card text-white bg-success mb-3" style="max-width: 18rem;">
<div class="card-body">
<h5 class="card-title">Washinton laundries</h5>
<H5><p class="card-text">11 Kg </p></H5>
    <H5><p class="card-text">Rate : 200 Rs</p></H5>
    <a href="generatebill" class="btn btn-primary">Continue</a>	
</div>
</div>


<div class="card text-white bg-info mb-3" style="max-width: 18rem;">
<div class="card-body">
<h5 class="card-title">Washinton laundries</h5>
<H5><p class="card-text">12 Kg </p></H5>
    <H5><p class="card-text">Rate : 200 Rs</p></H5>
   <a href="generatebill" class="btn btn-primary">Continue</a>	
</div>
</div>
</div>

<div class="card-deck">
<div class="card text-white bg-info mb-3" style="max-width: 18rem;">
<div class="card-body">
<h5 class="card-title">Washinton laundries</h5>
<H5><p class="card-text">13 Kg </p></H5>
    <H5><p class="card-text">Rate : 200 Rs</p></H5>
    <a href="generatebill" class="btn btn-primary">Continue</a>	
</div>
</div>

<div class="card text-white bg-success mb-3" style="max-width: 18rem;">
<div class="card-body">
<h5 class="card-title">Washinton laundries</h5>
<H5><p class="card-text">14 Kg </p></H5>
    <H5><p class="card-text">Rate : 200 Rs</p></H5>
    <a href="generatebill" class="btn btn-primary">Continue</a>	
</div>
</div>

<div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
<div class="card-body">
<h5 class="card-title">Washinton laundries</h5>
<H5><p class="card-text">15 Kg </p></H5>
    <H5><p class="card-text">Rate : 200 Rs</p></H5>
    <a href="generatebill" class="btn btn-primary">Continue</a>	
</div>
</div>

<div class="card text-white bg-warning mb-3" style="max-width: 18rem;">
<div class="card-body">
<h5 class="card-title">Washinton laundries</h5>
<H5><p class="card-text">16 Kg </p></H5>
    <H5><p class="card-text">Rate : 200 Rs</p></H5>
   <a href="generatebill" class="btn btn-primary">Continue</a>	
</div>
</div>
</div>
{% endblock content %}
